body {
  background-color: #00d9ff;
  line-height: 2;
  align-items: baseline;
  padding-left: 10%;
  padding-right:10%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.label {
  font-weight: bold;
}

.button {background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
